<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{model.image}}" class="rounded float-left big" alt="">

    </div>
    <div class="col-md-6 content">
      <h3>RAP SHEET</h3>
      <p> <strong>{{model.name}}</strong> </p>
      <p>{{model.sacco}}</p>
      <p>Number Plate: {{model.plate}}</p>
      <p>Average rating: 9.4</p>
    </div>
  </div>
</div>

<div class="container">
{{new-comment saveComment='saveComment' matatu=model}}

{{#each model.comments as |comment|}}
{{comment-tile comment=comment}}

{{/each}}

</div>
